/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
} */

/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800'); */

/* .main {
    margin: 0 auto;
    width: 900px;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
} */

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.form-inner {
  width: 450px;
  margin: auto;
  background: #c7dee123;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.map-inner {
  width: 1800px;
  height: 720.69420px;
  transition: all .3s;
}

::-webkit-scrollbar { 
  display: none; 
}
